<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Bug Tracking System</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="/project/add" class="btn btn-primary my-2">Add your Task</a>
                <a href="/task" class="btn btn-secondary my-2">View other Tasks</a>
            </p>
        </div>
    </section>


</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>