<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${task}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Project Details</h1>
    <div th:each="el : ${project}" class="alert alert-info mt-2">
    <form th:action="'/project/' + ${el.id} + '/edit'" method="post">

            <label for="validationCustom01">Project name</label>
            <input type="text" name="project_name" id="validationCustom01" th:value="${el.project_name}" required  class="form-control"><br>
            <div class="valid-feedback">
                Looks good!
            </div>
            <label for="validationCustom02">Description</label>
            <textarea th:text="${el.description}" name="description" id="validationCustom02" th:value="${el.description}" required class="form-control"></textarea><br>
            <div class="valid-feedback">
                Looks good!
            </div>
                <button type="submit" class="btn btn-warning">Save</button>
    </form><br>
        <form th:action="'/project/' + ${el.id} + '/remove'" method="post">
            <button type="submit" class="btn btn-warning">Delete</button>
        </form><br>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>