<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Add a new Project</h1>
    <form th:action="@{/project/add}" class="needs-validation" method="post">
        <label for="validationCustom01">Project name</label>
        <input type="text" name="project_name" id="validationCustom01"  value="" required  class="form-control"><br>
        <div class="valid-feedback">
            Looks good!
        </div>
        <label for="validationCustom02">Description</label>
        <textarea name="description" id="validationCustom02"  value="" required class="form-control"></textarea><br>
        <div class="valid-feedback">
            Looks good!
        </div>



        <button type="submit" class="btn btn-success">Add new Project</button>
    </form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>