<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Add a new Task</h1>
   <form th:action="@{/task/add}" method="post" class="needs-validation">
       <label for="validationCustom01">Title of Task</label>
       <input type="text" name="title" class="form-control" id="validationCustom01" value="" required><br>
       <div class="valid-feedback">
           Looks good!
       </div>
       <label for="validationCustom02">Author of Task</label>
       <select class="form-control" id="validationCustom02" name="userString"  >
           <option th:each="user : ${users}"
                   th:value="${user}" required
                   th:text="${user}">Wireframe
           </option>
       </select><br>
       <div class="valid-feedback">
           Looks good!
       </div>
       <label for="validationCustom03">Project</label>
       <select class="form-control" id="validationCustom03" name="projectString"  >
           <option th:each="project : ${projects}"
                   th:value="${project}" required
                   th:text="${project}">Wireframe
           </option>
       </select><br>
       <div class="valid-feedback">
           Looks good!
       </div>
       <label for="validationCustom04">Type of Task</label>
       <input type="text" name="type" id="validationCustom04"  value="" required class="form-control"><br>
       <div class="valid-feedback">
           Looks good!
       </div>
       <label for="validationCustom05">Priority</label>
       <input type="number" name="priority"  id="validationCustom05" value="" required class="form-control"><br>
       <div class="valid-feedback">
           Looks good!
       </div>
       <label for="validationCustom06">Description</label>
       <textarea name="description" id="validationCustom06"  value="" required class="form-control"></textarea><br>
       <div class="valid-feedback">
           Looks good!
       </div>
       <button type="submit" class="btn btn-success">Add new Task</button>
   </form>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>