<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main role="main">

    <form action="/user" method="post">
        <input type="text" name="username" value="${user.username}">

    <input type="text" value="${user.id}" name="userId">
    <input type="hidden" value="${_csrf.token}" name="csrf">
    <button type="submit">Save</button>
    </form>
    <a href="/">Back to Home</a>

</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>