<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main role="main">
<div th:each="el : ${user}">
    <form th:action="'/user/' + ${el.id} + '/edit'" method="post">
        <input type="text" readonly class="form-control-plaintext" id="userID" th:value="'userID ' + ${el.id}"><br>
        <input type="text" th:value="${el.username}" id="userName" name="userName" placeholder="${el.username}" class="form-control"><br>
        <input type="text" th:value="${el.password}" id="userPassword" name="userPassword" placeholder="${el.password}" class="form-control"><br>
        <select class="form-control" id="role" name="role" >
            <option th:each="el : ${roles}"
                    th:value="${el}"
                    th:text="${el}">Wireframe</option>
        </select>

    <button type="submit" class="btn btn-warning">Save</button><br>
    </form>
    <span></span>
    <form th:action="'/user/' + ${el.id} + '/delete'" method="post">
        <button type="submit" class="btn btn-warning">Delete User</button><br><br>
    </form>
    <a href="/">Back to Home</a>
</div>
</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>