<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main role="main">

    <table class="table" align="center">
        <thead class="thead-dark" align="center">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Username</th>
            <th scope="col">User Edit</th>
        </tr>
        </thead>
        <tbody align="center">
        <tr th:each="el : ${users}">
            <td th:text="${el.id}"/>
            <td th:text="${el.username}"/>
            <td><a th:href="'/user/' + ${el.id} + '/edit'" class="btn btn-warning">Edit User</a><br><br></td>
        </tr>
        </tbody>
    </table>
</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>